<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление занятия группе</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Добавление занятия</h1>
<div>
    <a href="/user/teacher/">
        <button>В личный кабинет</button>
    </a>
</div>
<div class="create__lesson__block">
<form method="post" th:action="@{/user/teacher/lesson/createLesson}">

    <p>
        <label>Введите номер классной комнаты:</label>
        <input name="classRoom" type="number"/>
    </p>

    <p>
        <label>Выберите время начала лекции:</label>
        <input name="startTime" type="datetime-local"/>
    </p>
    <p>
        <label>Выберите время окончания лекции:</label>
        <input name="endTime" type="datetime-local"/>
    </p>

    <p>
        <label>Выберите группы, к которым необходимо добавить занятие:</label>
        <br>

        <select name="idGroups"  multiple>
            <option th:each="group : ${groups}" th:value="${group.id}"
                    th:text="${group.title}"></option>
        </select>
    </p>

    <p>
        <label>Преподаватель:</label>
        <span th:text="${teacher.getFirstName() + ' ' + teacher.getLastName() + ' ' + teacher.getPatronymic()}"></span>

    </p>
    <p>
        <button>Добавить лекцию</button>
    </p>
</form>
</div>
<div>
    <a href="/logout">
        <button>Сменить пользователя</button>
    </a>
</div>
</body>
</html>